// 字体变量
$font-stack: Helvetica, sans-serif !default;
$font-color: #333 !default;
$font-size: 12px !default;


// 颜色变量
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// 状态颜色
$color-primary: #2196f3;
$color-success: #5cb85c;

// 边框颜色
$border-color: #eee;
