@import '../variables';
.xui-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  outline: none;
  border: none;
  cursor: pointer;

  &.xui-primary {
    color: $white;
    background-color: $color-primary;
  }
}
